body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    color: #374F62;
}

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.main{
    padding-top: 20px;
    margin: 0 15px;
    .content{
        margin-left: 220px;
        padding-bottom: 40px;
        min-width: 1030px;
        overflow: hidden;
    }
}
.banner{
    background-color: #0078D7;
    line-height: 80px;
    color: #fff;
    padding-left:20px;
    font-size: 20px;
}
.panel{
    overflow: hidden;
}